<header class="site-header">


  <div class="wrapper" style="text-align: center;">

    <nav class="site-nav">

    <a class="page-link" id="nav1" href="{{ site.baseurl }}/blog">blog</a>
    <a class="page-link" id="nav2" href="{{ site.baseurl }}/about">whoami</a>
    <a class="page-link" id="nav3" href="{{ site.baseurl }}/"> <img class="site-logo" src="{{ site.baseurl }}/img/logo_white.png"></a>
    <a class="page-link" id="nav4" href="https://github.com/jcampbellcodes/">github</a>
    <a class="page-link" id="nav5" href="{{ site.baseurl }}/sound_design">sound design</a>
  </nav>

  </div>

</header>
